.myInfo{
    width: 300px;
    height: 400px;
    background-color: white;

    /*Center of Screen*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.photo{
    width: 100px;
    height: 100px;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
}